@import "./scss/defaults";
@import "./scss/all";

.solar-system {
  position: relative;
  @include solarsystem();
  height: max-content;
  width: max-content;
  padding-top: calc(50vh + 64px);

  .sun-container {
    @include container();

    .name-tag {
      @include nameTag;
      width: 100%;
    }

    .sun {
      @include heightWidth(map-get($solarSystemSizes, sun));
      @include backgroundImg("https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Sun_in_February_%28transparent%29.png/600px-Sun_in_February_%28transparent%29.png?20151128070150");
    }
  }

  .planet {
    position: absolute;
    top: 120vh;
    left: 50%;
  }
}

@import "./scss/media";
