@import "./variables";
@import "./functions";

// Calculates the distance between the sun and a planet

@mixin backgroundImg($image) {
  background: url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 100%;
}

@mixin container() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// sets the height/width for the planet
@mixin heightWidth($diameter) {
  $sizeInEm: diameterToEm($diameter);
  height: #{$sizeInEm};
  width: #{$sizeInEm};
}

@mixin nameTag() {
  position: absolute; /* Set the position of the pseudo-element to absolute */
  top: -1.5rem; /* Adjust the position relative to its parent container */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  z-index: 5;
}

// @mixin planetStyle($diameter, $distance, $img) {
//   $sizeInEm: diameterToEm($diameter); // converts diameter to proper em
//   @include heightWidth($sizeInEm); // Convert size to rem units
//   @include backgroundImg($img); // set the img for the obj
//   margin-block-end: calc(#{$distance / 149.6} * 1rem);
//   transform: translateY(-50%);

//   // Use the $solarSystemSizes map to set the size of the planet
//   $celestialBody: map-get($solarSystemSizes, $img);
//   $planetSize: diameterToEm($celestialBody);
//   width: $planetSize * 15; // Multiply by 15
//   height: $planetSize * 15; // Multiply by 15
// }

@mixin solarsystem() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
